body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: whitesmoke;
    background-image: url(pizza.jpg);
    background-size: cover;
    background-repeat: repeat;
  }
